<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div><%= image_tag('/assets/background_images/logo-blue-and yellow(1).jpg') %>  </div>
<h2>Confirmation of Change of Password in  Raaja Yoga School <%= @user.firstname %></h2>
<p>
  You have requested to change the password   <br/>

  your username is: <%= @user.username %><br/>
</p>
<p> Your Password has been successfully changed</p>
<p>
  You can login to Raaja Yoga School by just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>