<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div><%= image_tag('/assets/background_images/logo-blue-and yellow(1).jpg') %>  </div>
<h2>Request for Change of Password in  Raaja Yoga School  <br/> <%= @user.firstname %> :</h2>

<p>   You have requested to change the password   <br/>   </p>

<p>    Your username is: <b><%= @user.username %> </b><br/>   </p>

<p>    You can change your password if you just follow this link: <%= @url %> </p>

<p>  </p>

<p>   Thanks for joining and have a great day!</p>

</body>
</html>