<div class="leftbar">
    <%= render 'admin_options' %>
</div>
<div class="header-breadcrumbs">
  <%= link_to 'Home',homepages_path %> > <%= 'Admin Page' %>
</div>
<div class="main-content">
 <p id="notice"><%= notice %></p>


</div>