<div class="main-content" xmlns="http://www.w3.org/1999/html">
  <p id="notice"><%= notice %></p>
    <h2 style="text-align: center">Frequently Asked Questions</h2>  </br>
  <h3> What is Brahmam? </h3>
  <p class="indent">
    Brahmam is the super power of all the energy source.
  </p>

  <h3>What is the NEW LIFE PRINCIPLE ?</h3>
  <p class="indent">
     The NEW LIFE PRINCIPLE is the way of getting direct energy from your own higher.
  </p>

  <h3> What is Initiation?</h3>

  <p> </p>

</div>