<div class="header-breadcrumbs">
  <%= link_to 'Home',homepages_path %> > <%= 'Guide Page' %>
</div>
<div class="leftbar">
  <%= render 'guide_options' %>
</div>

<div class="main-content">
   <p id="notice"><%= notice %></p>


</div>