<div class="main-content" xmlns="http://www.w3.org/1999/html">
  <p id="notice"><%= notice %></p>
 <p>   Continuation of... <h3> What is Briktha Rahitha Taraka Raja Yoga?   </h3> </p>



 <p> Every individual has his own program to become Satya Nitya Amrutha Pure merry life form.

  This program is concealed (Briktham) in his highest level. This highest is trying to clean his

  system by flowing Prana from highest level to the lower grade or level. This is just like water

  flows from higher level to lower level. The cause of flow is due to the potential deference. The

  principles will be brought along with the prana to the down stairs step by step. The principles

  that flow will work to build the permanent form according to the program in the frame work. The

  barriers that are formed during its descent to take form will be removed in this course of yoga.

  This is the practical yoga that commences from where Sri Krishna stopped in his Bhagavath

  Geetha.       </p>

  <p>Cosmos is an active work spot for all evolutionary activities for all jeevas and cosmos and

  both are getting evolutionary development in periodical evolution. In every birth all jeevas are

  developing physically mentally and spiritually and that development is deposited in the cosmos

  while leaving the cosmos. Again in his return as rebirth to the cosmos they develop from the

  developed state during its life period, and hence the cosmos is a stage for development. For all

  this  Parabrahmam  the almighty throws required hints by residing in all existences.     </p>

  <p>In all existing jeevas the human entity is the best developed one during the course of evolution.

  And that human entity is following the procedures mentioned in the Sastras that are developed

  by our ancient Rushees blindly without utilizing our intellect.

  </p>
  <p>
  We complete our duties in earning, and in developing our family in pious manner and feel that

  we will get good janma in our ongoing births. But this type of life doesn’t allow us to know   </p>

  <p class="sub">  1.The cause of creation </p>

  <p class="sub"> 2. Why we born   </p>
  <p class="sub"> 3. How many times we are to born </p>
  <p class="sub"> 4. What is the goal for this periodicity </p>
  <p class="sub"> 5. How and for what purpose we are getting children </p>

 <p> Without knowing truth, we are leading dogmatic life simply following the out dated old versions. To reveal the secret of

  evolution and to guide the right way, the new yoga by name Briktha Rahitha Taraka Rajayoga

  come into existence in the year 1910.    </p>

  <p>There are so many procedures to get contact with eternal life activity, but they are difficult to

  follow and lead to periodic rebirth only. In this yoga irrespective of breed, birth, intelligence, and

  solvency one can follow, develop, manifest him by himself to become an eternal satya nithya

  Amrutha pure merry life rupam in this life. Need no proxy.    </p>

  <p> For Kundalini waking Raja yoga is the best yoga and this can be done while doing Samsaram.

  In this after so much of effort one can get Samadhi which will give outer unconsciousness, and

  one can get long time Samadhi. But at the same time, even after Samadhi, we know nothing

  about what happened internally while in Samadhi. But at any cost the physical body has to face

  the physical death. So all yogas try to purify the inner body suksma Sareera for attainment of

  eternity.   </p>

  <p>According to this, the physical decay is necessary and the cause of the physical, the inner body

  that is made to live or exit in this physical world is either Kundalini of etheric body or the bio

  plasmic body which is to be is to be molded so that it cannot take any further periodic births. We

  cannot feel or experience that body with this physical conscious.  </p>

  <p>  <%= link_to 'Back to HomePage', homepages_path %>    </p>
</div>