<div class="main-content">
  <p id="notice"><%= notice %></p>
  <p>Continuation of ... <h3>Aim of Briktha Rahitha Tharaka Raja yoga </h3></p>

  <p>    This yoga is the introduction of a NEW LIFE PRINCIPLE into the human system, so that a new
    line of activity is open to us. The prana that is being introduced by the NEW YOGA, comes from the
    same parent source but unfettered by the restrictions to which the cosmic evolution is subjected
    to. It bores through and works its way unmolested by and unmolesting the evolution, which is going
    on in the cosmos. 
  </p>

  <p>    It creates its own sukshma and evolves MAN FORM to a degree of fineness which is impossible
    to reach by ordinary evolution. The NEW LIFE PRINCIPLE makes possible, the continuity of
    conscience with out any break throughout the various ranges of cosmic existence. It exists as
    ONE UNITY simultaneously acting on all planes of existence.
    The NEW WAVE OF LIFE through the intervention( for all purposes accidental) of man, on account
    of prayer unanswerable by the conditions of the cosmos by any existing principle entered in the
    very heart of the "COSMIC STREAM" (being its very parent and hence subtler than its product) and
    is working in the NEW YOGA LINE. Hence the methods and means of the school, are entirely new and
    queer(unusual or unconventional) and can not be found in the literature of any philosophy of the
    cosmos. The NEW WAVE works by creating a NEW STRUCTURE of its own, in the very center of our
    nervous systems, the cosmic nervous system standing as its outer sheathing, making it possible
    for outer activities to go on in their own way with out opposing the cosmic process. 
  </p>
  <big><b> Object of our new yoga is "Eternity"  </b></big>
  <p>     Explaining further about the object of the yoga, the Benign Master said that "in our line,
    things are done for eternity and not for a limited period. Every Endeavour is for eternity.
    If one succeeds in attaining perfection even that system should stand eternally. So long as
    Kundalini or Anu, is to do its work in the course of evolution, it must depend for expression
    or for manifestation on the parental activity, which is now brought down for the first time
    for starting a new work from every Kundalini to eternity. 
  </p>
  <p>     The benevolent MASTER C.V.V. said that the main object of this yoga is to establish eternity
    to humanity. He also said that the friends society was started with the object of making all
    human beings, without any exception, to realize the lord, with in this physical body through
    wisdom revealed by Kundalini, in a conscious state, and makes them adepts by enabling them to
    clear their doubts through internal interpretations. He had inaugurated the
    BRIKTH RAHITHA TARAKA RAJA YOGA on29th May 1910.The practice of yoga will give all branches of
    knowledge but it depends upon the progress of the disciple. All in sudden could not be grasped by
    the brain but it will grasp step after step, by the development of the disciple by practice.
    Master C.V.V. is the main performer in this line. That force or the principle imbedded in the
    words Master C.V.V. will always be with the disciple and works in the disciples system to make
    him to be an eternal identity.
  </p>

  <p>  <%= link_to 'Back to HomePage', homepages_path %>    </p>

</div>