<div class="main-content">


  <h3>  Continuation of...  Instructions to follow to practice this yoga ..</h3>


  <p class="sub"> 1. People of any religion, caste or creed or sect can follow or practice this yoga. One should

  have a determined ambition for spiritual uplift by practicing this yoga.

  </p><p class="sub">2. This yoga is not a religion. It is a spiritual exercise. It is above all religions that are existing.

  </p><p class="sub">3.One should not have questionable habits which are injurious to spiritual development. One

  should not be addicted to intoxicants, drinks etc,. One should only be a vegetarian.


  </p><p class="sub">4. The applicant must be in between the age group of 18 and 50. Those who are willing to benefit spiritually are allowed.

  Lady disciple will be admitted along with her husbands only, otherwise she must get

  permission from her husband. If an unmarried wants to practice he/she should  get permission from parents.


  </p><p class="sub">5. Applicant for enlistment as a disciple should be a solvent. One must be in the opinion of "Every thing that required will be arranged by my Master"

  </p><p class="sub">6. After enlistment the disciple should not practice any other mantras or beejaksharas except Gaayathri for men, Lalitha for women.

  </p><p class="sub">7.  General Practice hours are 6 a.m... and 6 p.m for half an hour precisely everyday.

  </p><p class="sub">8. All new initiates have to practice "MASTER C.V.V." for five months, before they are given

  regular courses. Disciples, unable to practice at 6 a.m and 6 p.m, as mentioned earlier, will not be

  given regular courses. They are allowed to practice MASTER'S NAME between 3 a.m to 11 a.m. and 3 p.m

  to 11 p.m.

  </p><p class="sub">9. The disciples are asked not to control their breath, mind and nervous system. Without the

  individual effort an automatic namaskaram may come as an indication to stop the practice. This

  may not be a compulsory experience.

  </p><p class="sub"> 10. No kind of treatment or relief of bodily ailments is guaranteed in the beginning, as relief

  from ailments depends on the development of the disciple in accordance with his faith in the

  process and application to the practice.

  </p><p class="sub">11. Disciples should convince their guide (physical master) of their determination to continue practice without

  brake for at least 2 years from the date of initiation and practice.



  </p><p class="sub">12. Reports of experiences should invariably be sent, once in 15 days, stating clearly timings of practice and experiences.

  </p><p class="sub">13. Permitted to practice in trains while running and not on any other carriage.

  </p><p class="sub">14. If you happened to stay, at out station, for more than six hours, you can do practice there.

  </p><p class="sub">15. In case if your journey distance is five miles, and you are returning back, permission is

  accorded to do practice, before one hour, or after one and half hour, of journey

  </p><p class="sub">16. Disciples should be present for practice 15 minutes, before the stipulated time, for each practice.

  </p><p class="sub">17. Yoga forces will not penetrate into the system, if you come hurry. it will give only peace of mind.

  </p><p class="sub">18. You are instructed to take nourishment before the commencement of practice.

  </p><p class="sub">19. Disciples should use clean clothes and should clean their legs, before they sit for practice

  time. It is advised that they should take bath or at least clean their body with a wet towel before practice.

  </p><p class="sub">20. Male disciples should not wear any shirt or coat, while practice.

  </p><p class="sub">21. Yoga must be the prominent idea in your life. Everything else should be subordinate.

  </p><p class="sub">22. Do not try to make and amass property.

  </p><p class="sub">23. Do not compel any person, even for his good.

  </p><p class="sub">24. Do not seek for the hidden treasure.

  </p><p class="sub">25. No one can obtain knowledge and become free from death as soon as he enters these

  premises. By making promises and signing declaration, one cannot develop oneself. You must

  declare today that you will practice with obedience and without fail or you will leave the yoga.

  </p><p class="sub">26. In olden days, the sishyas(disciples) followed their Guru, abiding to the truth, they have done

  their tapas(practice). In the same manner, if you adhere to follow your Master, then you will

  come to know the greatness of this yoga.

  </p><p class="sub">27. Rules relating to the yoga may be used according to your physical body's convenience.

  </p><p class="sub">28. The lenience given to follow practice is not a fun.

  </p><p class="sub">29.  Every disciple should have chaste thought and firm belief with full confidence on Master.

  </p><p class="sub">30. The old creation does not allow the Kundalini to reveal the development of practice. In this

  line everything will be known in conscious state.

  </p><p class="sub">31.New creation principles will be established in the system as per new direct line working.

  </p><p class="sub">32. Brightness will begin to show on the faith and confidence of the disciple.

  The character of the Master and his actions should not be mixed with practice.


  </p><p class="sub">33. As a rule, the process, while practicing should commence from the penetration point(top

  head) and pass below. Upward passing, i.e., passing from legs denote Kundalini action, undoing

  and obstructing, regular working as per direct principles. Such process should be avoided.

  </p><p class="sub">34. Read the practice instructions carefully. If you got any doubt, get them clarified. Don't be

  hasty or angry, among your selves. Don't abuse others. Don't try to find fault in others. Don't hurt

  others. Carefully observe advises given by Master. Note down the notes for instructions. Receive

  the advanced courses and practice them with devotion and diligence.

  </p><p class="sub">35. Mediums will get developments and lifts, according top their qualities. Don't be jealousy or

  depressed on seeing others development. If you won't get the same, continue the practice with

  the hope, that you too will get them, after developing yourselves.



  </p><p class="sub">36. You should not indulge in any activity except for the maintenance of your family.

  </p><p class="sub">37. The disciple of this line need not give up the routine observances as ordained by the rules of

  the religious sect at which he is a member.


  </p><p class="sub">38. One must have the determination not to give-up the practice.

  Be intimating the experiences either through diary or directly to whom you consider your guide

  or physical Master. The physical Master after satisfying himself that you are getting required

  development will start giving “special courses” which require personal guidance. You have to go

  to him in person to take the courses. You may be required to attend the regular gatherings now and

  then as decided by the society or the physical Master.
  </p>

  <p>  <%= link_to 'Back to HomePage', homepages_path %>    </p>
</div>