<div class="leftbar">
  <%= render 'saadhaka_options' %>
</div>
<div class="header-breadcrumbs">
  <%= link_to 'Home',homepages_path %> > <%= 'Saadhaka Page' %>
</div>
<div class="main-content">
  <p id="notice"><%= notice %></p>

</div>