<div>
  <p>
The Universe is now undergoing transformation built with following principles:

<p class="sub">• Figure change -  Rebirth            </p>

<p class="sub">• Periodicity – Number of Births     </p>

<p class="sub">• Changeability – Stages of growth    </p>

<p class="sub">• Decay - decomposition               </p>
  </p>
  <div class="margin_bottom_20"></div>

  <p>
The above principles will not lead individuals to eternity. Hence, new direct line principles are

introduced by Master C.V.V. in 1910. These principles define a new connection to the Individual

from his Highest source, a form between Super soul and individual.  This can build a permanent

unchangeable Human form without decay and figure change with merry life.  To achieve this

new direct line activity results the practioners need lifelong commitment with the following  four

qualities along with prescribed allotted procedure.
  <div class="margin_bottom_20"></div>


  <p class="sub"> 1. Punctuality  </p>

<p class="sub"> 2. Sincerity  </p>

<p class="sub"> 3. Obedience  </p>

<p class="sub"> 4. Regularity </p>


</p>

</div>