<% @page_title = "Welcome to Piduguralla Yogaschool" %>
<h2 xmlns="http://www.w3.org/1999/html"> Aim of Briktha Rahitha Tharaka Raja yoga   </h2>

<p>This yoga is a bridge to introduce a NEW LIFE PRINCIPLE or Highest Self Consciousness

  into the human system so that additional new line of activity is open to the follower. The self

  consciousness, prana or creative force that is introduced by the NEW YOGA comes from its

  Highest source. This prana or creative force unfettered by the restrictions to which the cosmic

  evolution is subjected. It bores through and works its way unmolested by and unmolesting the

  cosmic evolution.          </p>

<div class="margin_bottom_20"></div>

<p> Prana or self consciousness derived from the Highest source creates its own sukshma (finest) and

  evolves MAN FORM to a degree of fineness which is impossible to reach by ordinary evolution.

  The NEW LIFE PRINCIPLE makes possible the continuity of conscious with no interruption

  throughout all ranges of cosmic existence and not getting into Samadhi state (a state mind

  becomes still and in unconscious). This yoga is the introduction of a NEW LIFE PRINCIPLE

  into the human system so that an additional new line of activity is open to the follower to realize

  the Brahmam, the cause of His existence.


<div class="margin_bottom_20"></div>




<h3> To Follow Briktha Rahitha Tharaka Raja yoga   </h3>

<p><b>  <big> One should get initiation from a lead of a yoga school</big>   </b></p>

<div class="margin_bottom_20"></div>

<b> What is initiation?</b>

<p>      Initiation is a process of introduction of a new life wave in to the kundalini. This process will be undertaken through a special
  sitting of practice along with the physical master, lead at a yoga school. After initiation, the disciple's inner responds to principle of notions.
  This is called working. This can be observed in conscience.

</p>

<div class="margin_bottom_20"></div>


<b> To get initiation contact Piduguralla Yoga school </b>

<p><span class="blogger_date">Satya Yoga Saadhaka Mandali </span><br/>
 <b class="blogger_name"> Piduguralla yoga school friends society </b><br/>
  <b class="blogger_name">Piduguralla 522413, A.P. India.</b> <br/>
  <b class="blogger_name">Guide (lead) :J.Narayana Murthy</b> <br/>
 <div class="rc_btn_02" > <%= link_to  'Contact us', new_email_path %>  </div>
</p>