<div class= "main-content">
<% $page_title = "Edit The Album" %>
  <p id="notice"><%=  notice %></p>
<%= render 'form' %>


<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>

</div>