alert('Ajax is working');
//$('#comment-notice').load("Your comment has been added successfully");
//$('#event-comments').before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
//$('#event-comments').html("<%= escape_javascript(render('eventcomments/user_comments')) %>");
//$('#new-comment')[0].reset();