
.small-icon{
  width: 2.5em;
  height: 1.5em;
}
small-img-icon{
  width: 5px;
  height: 5px;
  align: top;
}
.main, .main-content, .main-subcontent, .leftbar{
  background-color: #ffffff;

 }
.main-content form{

}

.main-content form label{
   width: 100px;
  margin: 3px;
}
.main-content form input{
  margin: 2px;
}
//.main-content{
 // padding-left: 20%;
//}

/*.event-background{
//  background-image: url("background_images/event_stage.png");
  vertical-align: center;
  background-repeat: no-repeat;
  background-position: center;
//  background-size: 100%;
  height: auto;
  width: auto;
// position: absolute;
}   *//*
.event-details{
  padding-left:8em;
  padding-top: 12em;
  float: left;
  display: block;
  vertical-align: center;
  background-image: url("background_images/event_stage(1).png");
  background-repeat: no-repeat;
  width: 750px;
  line-height: 20px;

}
.event-name{
  padding-left:5em;
  font-size: x-large;
  font: bold;
  width: 300px;
  margin-left: 50px;
}
.event-venue{
  padding-top: 1em;
  padding-left:5em;
  font-size:medium;
  margin-left: 50px;
}
.address-contact{
  padding-left:5em;
  padding-top: .5em;
  // display: inline;
  position:relative;
  width: 100%;
  height: auto;

}
.event-address,{
  padding-left: 2em;
  padding-top: .5em;
  float: left;
  width: 45%;

}
.indent{
  padding-left: 1.5em;
}
.event-contact{
  padding-right:2.5em;
  padding-left: 2em;
  padding-top: .5em;
  float:left;
  clear: left;
}
.event-desc{
  padding-left:5em;
  padding-top: 1em;
  max-width: 500px;
  float: none;
  clear: both;
  text-align: justify;

}
.links{
  float: right;
  clear: both;
  padding-top: 1em;
  padding-right: 2em;
}
.divider{
  width: 820px;
  padding: 5px;
  // border-top: #b0c4de dashed;
  clear: both;

}
.comments{
  margin-top: 10px;
  width: 860px;
  clear: both;
  background-color: #faf0e6;
}
.comments p{
  color: #8b0000;padding-left: 5px;
  width:920px; margin: 2px;
  background-color: #fa8072;
  padding-top: 5px;
}

.event-comments{
  margin-top: -40px;


}
.user-details
  {
  float: left;
  // background-color: #d3d3d3;
  margin: 10px;
  border-bottom-color: #a9a9a9;
  border-bottom:thin dotted;
}

.user-img
  {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  padding-top: 15px;
  float: left;
}
.user-name
  {
  width: 750px;
  float: left;
  padding:10px;
  font-size:80%;
}
i{ color: gray;
  padding-left: 10px;
}


.user-comment{
  width: 800px;
  padding: 20px;
  font-size: 90%;
}
.comment-count{
  color: gray;
  float: right;
  padding-right: 10px;
  font-size: 80%;
}
.topic{
  background-color: #fff0f5;
  width: 860px;
}
.schedule{
  margin-left: 10px;
  width: 600px;

  i{
    width: 100px;
    padding-right: 10px;
    font-size: 12px;
    margin-left: 2px;
  }
}
.day{
  font:100%  bold;

  color: #6C9CBD;
}
.sch-title{
  padding-left: 10px;
  font-size: 12px;
  width: 550px;
  padding-right:10px ;
  margin-right: 2px;
  b{
    width: 350px;
    padding-right: 10px;
    position: static;
  }
}

#user-event-comment-content{
     display: none;
}

.normal_table { border:dotted;}
.normal_table th td {background-color: #d3d3d3;}
.normal_table td {background-color: #ffffe0;}

   */