// Place all the styles related to the expcomments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.exp-main{
  position: relative;
  padding: 10px;
}
.exp-topic-list{
  width: 30%;
  float: left;
  padding: 20px;
  border: WindowFrame;
  border-color: #009C9B;


  h3{
    background-color: #009C9B;
  }
}
.exp-main-content{
  width: 60%;
  float: right;
  padding: 20px;

  h2, h3 {
    color: #8b0000;
  }
}

.topic{
  background-color: #fa8072;;

}
.comments{
  background-color: #faf0e6;
  float: left;

}
.divider{
  background-color: #ffffff;
  width: 100%;
}

.exp-main-content form{
  width: 700px;
  background-color: #fafad2;
  padding: 10px;
}
.exp-main-content form label{ width: 175px;float: left;margin: 5px;}

.exp-main-content form select{float: left;margin: 5px;}
.exp-main-content form input {margin: 5px;}
.exp-main-content form button{ vertical-align:50%;}
.exp-main form textarea {width: 650px; height: 50px;}

*/