// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 /*
.person{
  padding: 5px;
  img {float: left; display: back; padding-left: 50px; visibility: visible;}

  position: relative;
}
.person-details{
  float: left;
  color: #ff4500;
  padding-left: 50px;
  b{
    font-size: 15px;
    color:#556b2f;
  }
  text-decoration-color:#8b0000;
}

.user-practices{
  padding: 50px 25px 25px 25px;
  clear: left;
  border:thin;

}

#discussion-comments{
  background-color: #ffdab9;
  border-bottom: #dcdcdc;
  margin-right: 100px;
}

#user-event-comment-content #user-eventcomments{
  margin-right: 100px;
}

  */